version: '3.8'

name: test-leaf
x-healthcheck: &health
  healthcheck:
    test: wget --no-verbose --tries=1 --spider http://localhost:8222/healthz || exit 1
    interval: 2s
    start_period: 5s
    timeout: 3s
services:
  nats-main:
    container_name: nats-main
    image: nats:alpine
    ports:
      - "4222:4222"
      - "6222:6222"
      - "8222:8222"
      - "7422:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./main.conf:/etc/nats/main.conf
    <<: *health

  nats-main1:
    container_name: nats-main1
    image: nats:alpine
    ports:
      - "4223:4222"
      - "6223:6222"
      - "8223:8222"
      - "7423:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./main1.conf:/etc/nats/main.conf
    <<: *health

  nats-main2:
    container_name: nats-main2
    image: nats:alpine
    ports:
      - "4224:4222"
      - "6224:6222"
      - "8224:8222"
      - "7424:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./main2.conf:/etc/nats/main.conf
    <<: *health

  nats-satellite:
    container_name: nats-satellite
    image: nats:alpine
    ports:
      - "4322:4222"
      - "6322:6222"
      - "8322:8222"
      - "7522:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./satellite.conf:/etc/nats/main.conf
    <<: *health

  nats-satellite1:
    container_name: nats-satellite1
    image: nats:alpine
    ports:
      - "4323:4222"
      - "6323:6222"
      - "8323:8222"
      - "7523:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./satellite1.conf:/etc/nats/main.conf
    <<: *health

  nats-satellite2:
    container_name: nats-satellite2
    image: nats:alpine
    ports:
      - "4324:4222"
      - "6324:6222"
      - "8324:8222"
      - "7524:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    volumes:
      - ./satellite2.conf:/etc/nats/main.conf
    <<: *health

  nats-arbiter:
    container_name: nats-arbiter
    cap_add:
      - NET_ADMIN
      - NET_RAW
    image: nats:alpine
    ports:
      - "4422:4222"
      - "6423:6222"
      - "8423:8222"
    command: -c /etc/nats/leaf.conf
    depends_on:
      - nats-main
    volumes:
      - ./arbiter.conf:/etc/nats/leaf.conf
    <<: *health
