version: '3.8'

name: test-leaf
x-healthcheck: &common
  healthcheck:
    test: wget --no-verbose --tries=1 --spider http://localhost:8222/healthz || exit 1
    interval: 2s
    start_period: 1s
    timeout: 3s
  volumes:
    - ./nats-config:/etc/nats:ro

services:
  nui:
    image: ghcr.io/nats-nui/nui
    ports:
      - 31311:31311
    networks:
      main:
      satellite:
  nats-main:
    container_name: nats-main
    image: nats:alpine
    ports:
      - "4222:4222"
      - "6222:6222"
      - "8222:8222"
      - "7422:7422" # Порт для leaf узлов
    command: -c /etc/nats/main.conf
    profiles:
      - main
    networks:
      main:
    <<: *common

  nats-main1:
    container_name: nats-main1
    image: nats:alpine
    ports:
      - "4223:4222"
      - "6223:6222"
      - "8223:8222"
      - "7423:7422" # Порт для leaf узлов
    command: -c /etc/nats/main1.conf
    profiles:
      - main
    networks:
      main:
    <<: *common

  nats-main2:
    container_name: nats-main2
    image: nats:alpine
    ports:
      - "4224:4222"
      - "6224:6222"
      - "8224:8222"
      - "7424:7422" # Порт для leaf узлов
    command: -c /etc/nats/main2.conf
    profiles:
      - main
    networks:
      main:
    <<: *common

  nats-satellite:
    container_name: nats-satellite
    image: nats:alpine
    ports:
      - "4322:4222"
      - "6322:6222"
      - "8322:8222"
      - "7322:7222"
      - "7522:7422" # Порт для leaf узлов
    command: -c /etc/nats/satellite.conf
    profiles:
      - satellite
    networks:
      satellite:
    <<: *common

  nats-satellite1:
    container_name: nats-satellite1
    image: nats:alpine
    ports:
      - "4323:4222"
      - "6323:6222"
      - "8323:8222"
      - "7523:7422" # Порт для leaf узлов
    command: -c /etc/nats/satellite1.conf
    profiles:
      - satellite
    networks:
      satellite:
    <<: *common

  nats-satellite2:
    container_name: nats-satellite2
    image: nats:alpine
    ports:
      - "4324:4222"
      - "6324:6222"
      - "8324:8222"
      - "7524:7422" # Порт для leaf узлов
    command: -c /etc/nats/satellite2.conf
    profiles:
      - satellite
    networks:
      satellite:
    <<: *common

  nats-leaf:
    container_name: nats-leaf
    cap_add:
      - NET_ADMIN
      - NET_RAW
    image: nats:alpine
    ports:
      - "4523:4222"
      - "6523:6222"
      - "8523:8222"
    command: -c /etc/nats/leaf.conf
    networks:
      satellite:
      main:
    extra_hosts:
      - outside.world.ip:host-gateway
    <<: *common

  nats-leaf-1:
    container_name: nats-leaf1
    cap_add:
      - NET_ADMIN
      - NET_RAW
    image: nats:alpine
    ports:
      - "4524:4222"
      - "6524:6222"
      - "8524:8222"
    command: -c /etc/nats/leaf1.conf
    networks:
      satellite:
      main:
    extra_hosts:
      - outside.world.ip:host-gateway
    <<: *common

  nats-leaf-2:
    container_name: nats-leaf2
    cap_add:
      - NET_ADMIN
      - NET_RAW
    image: nats:alpine
    ports:
      - "4525:4222"
      - "6525:6222"
      - "8525:8222"
    command: -c /etc/nats/leaf2.conf
    networks:
      satellite:
      main:
    extra_hosts:
      - outside.world.ip:host-gateway
    <<: *common

networks:
  satellite:
  main:
